* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background-color: #E4F6F6;
}
p > input {
  width: 100% !important;

}
p > label {
  display: block;
}

h1 {
  font-family: "helvetica neue",sans-serif;
  font-weight: 100;
}

/*.square {
  display: inline-block !important;
  background-color: black !important;
  width: 5em !important;
  height: 5em !important;
  margin: .2em;
}*/



.waves-effect.waves-light.btn.material-icons {
  float: none !important;
  clear: both !important;
  display: inline-block;
  position: relative;
  width: 1px;

}
.lever {
  transform: rotate(270deg) !important;
  width: 3em !important;
}
/*input[id="snareRow"] {
  transform: rotate(180deg) !important;
}*/
