* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background-color: #E4F6F6;
}
p > input {
  width: 100% !important;

}
p > label {
  display: block;
}

h1 {
  font-family: "helvetica neue",sans-serif;
  font-weight: 100;
}

.waves-effect.waves-light.btn.material-icons {
  float: none !important;
  clear: both !important;
  display: inline-block;
  position: relative;
  width: 1px;

}
.lever {
  transform: rotate(270deg) !important;
  width: 3em !important;
}
.row-label {
  display: inline-block !important;
}
